In [1]:
import numpy as np
import pandas as pd
import sklearn
from sklearn.model_selection import train_test_split

# 1. Use all features

## 1.1. Train-test split

In [2]:
list_column = ['id', 'previousHomeWin', 'previousAwayWin', 'previousDraw',
       'previousManagerHomeWin', 'previousManagerAwayWin',
       'previousManagerDraw', 'homeAvgRating', 'homePosition', 'homePoint',
       'homeForm', 'awayAvgRating', 'awayPosition', 'awayPoint', 'awayForm',
       'homeExpectedGoal', 'awayExpectedGoal', 'homeExpectedAssist',
       'awayExpectedAssist', 'homeBallPosession', 'homeShotOnTarget',
       'awayShotOnTarget', 'homeShotOffTarget', 'awayShotOffTarget',
       'homeBlockedShot', 'awayBlockedShot', 'homeCorner', 'awayCorner',
       'homeOffside', 'awayOffside', 'homeFoul', 'awayFoul', 'homeYellowCard',
       'awayYellowCard', 'homeRedCard', 'awayRedCard', 'homeFreekick',
       'awayFreekick', 'homeThrowIn', 'awayThrowIn', 'homeGoalkick',
       'awayGoalkick', 'homeBigChance', 'awayBigChance', 'homeBigChanceMissed',
       'awayBigChanceMissed', 'homeShotInsideBox', 'awayShotInsideBox',
       'homeGoalSave', 'awayGoalSave', 'homeGoalPrevented',
       'awayGoalPrevented', 'homePass', 'awayPass', 'homeAccuratePass',
       'awayAccuratePass', 'homeLongPass', 'awayLongPass',
       'homeAccurateLongPass', 'awayAccurateLongPass', 'homeCross',
       'awayCross', 'homeAccurateCross', 'awayAccurateCross', 'homeDribble',
       'awwayDribble', 'homeSuccessfulDribble', 'awaySuccessfulDribble',
       'homePossesionLost', 'awayPossesionLost', 'homeDuelWon', 'awayDuelWon',
       'homeAerialWon', 'awayAerialWon', 'homeTackle', 'awayTackle',
       'homeInterception', 'awayInterception', 'homeClearance',
       'awayClearance', 'homeTeamId', 'awayTeamId', 'homeScorePeriod1',
       'homeScoreCurrent', 'awayScorePeriod1', 'awayScoreCurrent']

In [3]:
df = pd.read_csv("match_all_statistic.csv", usecols=list_column)

df.head()

,id,previousHomeWin,previousAwayWin,previousDraw,previousManagerHomeWin,previousManagerAwayWin,previousManagerDraw,homeAvgRating,homePosition,homePoint,...,homeInterception,awayInterception,homeClearance,awayClearance,homeTeamId,awayTeamId,homeScorePeriod1,homeScoreCurrent,awayScorePeriod1,awayScoreCurrent
0,11352251,9,4,2,2,2,0,NaN,0,NaN,...,0.0,5.0,2.0,10.0,42,14,2,2,0,1
1,11352255,8,4,8,1,4,0,NaN,0,NaN,...,5.0,6.0,7.0,8.0,39,40,2,5,1,1
2,11352250,5,5,4,0,0,1,NaN,0,NaN,...,3.0,2.0,6.0,12.0,60,37,0,1,0,1
3,11352253,11,6,3,2,4,1,NaN,0,NaN,...,5.0,0.0,7.0,10.0,48,43,0,0,0,1
4,11352252,1,2,1,1,0,0,NaN,0,NaN,...,4.0,8.0,5.0,16.0,30,72,1,4,0,1

In [4]:
df

,id,previousHomeWin,previousAwayWin,previousDraw,previousManagerHomeWin,previousManagerAwayWin,previousManagerDraw,homeAvgRating,homePosition,homePoint,...,homeInterception,awayInterception,homeClearance,awayClearance,homeTeamId,awayTeamId,homeScorePeriod1,homeScoreCurrent,awayScorePeriod1,awayScoreCurrent
0,11352251,9,4,2,2,2,0,NaN,0,NaN,...,0.0,5.0,2.0,10.0,42,14,2,2,0,1
1,11352255,8,4,8,1,4,0,NaN,0,NaN,...,5.0,6.0,7.0,8.0,39,40,2,5,1,1
2,11352250,5,5,4,0,0,1,NaN,0,NaN,...,3.0,2.0,6.0,12.0,60,37,0,1,0,1
3,11352253,11,6,3,2,4,1,NaN,0,NaN,...,5.0,0.0,7.0,10.0,48,43,0,0,0,1
4,11352252,1,2,1,1,0,0,NaN,0,NaN,...,4.0,8.0,5.0,16.0,30,72,1,4,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
511,10385726,8,10,2,0,1,0,6.70,19,31.0,...,4.0,7.0,3.0,26.0,34,33,0,1,1,4
512,10385709,12,5,3,1,3,2,6.86,12,43.0,...,5.0,6.0,5.0,14.0,38,39,1,1,1,1
513,10385727,3,10,5,0,0,2,6.80,11,44.0,...,1.0,2.0,8.0,6.0,7,14,0,1,1,1
514,10385731,4,12,4,0,0,1,6.72,20,24.0,...,8.0,5.0,8.0,2.0,45,44,2,4,2,4
515,10385733,9,6,5,1,5,1,6.79,18,31.0,...,5.0,2.0,4.0,10.0,31,37,1,2,0,1

In [5]:
y1 = df.iloc[:, 85]
y2 = df.iloc[:, 83]
y = pd.concat([y1, y2], axis=1)
y

     awayScoreCurrent  homeScoreCurrent
0                   1                 2
1                   1                 5
2                   1                 1
3                   1                 0
4                   1                 4
..                ...               ...
511                 4                 1
512                 1                 1
513                 1                 1
514                 4                 4
515                 1                 2

[516 rows x 2 columns]

In [6]:
X = df.drop(["id", "awayScoreCurrent", "homeScoreCurrent"], axis=1)
X

,previousHomeWin,previousAwayWin,previousDraw,previousManagerHomeWin,previousManagerAwayWin,previousManagerDraw,homeAvgRating,homePosition,homePoint,homeForm,...,homeTackle,awayTackle,homeInterception,awayInterception,homeClearance,awayClearance,homeTeamId,awayTeamId,homeScorePeriod1,awayScorePeriod1
0,9,4,2,2,2,0,NaN,0,NaN,NaN,...,9.0,8.0,0.0,5.0,2.0,10.0,42,14,2,0
1,8,4,8,1,4,0,NaN,0,NaN,NaN,...,11.0,3.0,5.0,6.0,7.0,8.0,39,40,2,1
2,5,5,4,0,0,1,NaN,0,NaN,NaN,...,10.0,16.0,3.0,2.0,6.0,12.0,60,37,0,0
3,11,6,3,2,4,1,NaN,0,NaN,NaN,...,7.0,3.0,5.0,0.0,7.0,10.0,48,43,0,0
4,1,2,1,1,0,0,NaN,0,NaN,NaN,...,5.0,8.0,4.0,8.0,5.0,16.0,30,72,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
511,8,10,2,0,1,0,6.70,19,31.0,0.4,...,9.0,12.0,4.0,7.0,3.0,26.0,34,33,0,1
512,12,5,3,1,3,2,6.86,12,43.0,0.8,...,8.0,9.0,5.0,6.0,5.0,14.0,38,39,1,1
513,3,10,5,0,0,2,6.80,11,44.0,1.4,...,4.0,7.0,1.0,2.0,8.0,6.0,7,14,0,1
514,4,12,4,0,0,1,6.72,20,24.0,0.0,...,12.0,9.0,8.0,5.0,8.0,2.0,45,44,2,2
515,9,6,5,1,5,1,6.79,18,31.0,0.6,...,6.0,11.0,5.0,2.0,4.0,10.0,31,37,1,0

In [7]:
# Create label based on goal results
# create a list of our conditions
conditions = [
    (y['homeScoreCurrent'] < y['awayScoreCurrent']),
    (y['homeScoreCurrent'] == y['awayScoreCurrent']),
    (y['homeScoreCurrent'] > y['awayScoreCurrent'])
]

values = ["Lose", "Draw", "Win"]

y = pd.DataFrame(np.select(conditions, values))

y

        0
0     Win
1     Win
2    Draw
3    Lose
4     Win
..    ...
511  Lose
512  Draw
513  Draw
514  Draw
515   Win

[516 rows x 1 columns]

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.15, random_state=42)
X_train

,previousHomeWin,previousAwayWin,previousDraw,previousManagerHomeWin,previousManagerAwayWin,previousManagerDraw,homeAvgRating,homePosition,homePoint,homeForm,...,homeTackle,awayTackle,homeInterception,awayInterception,homeClearance,awayClearance,homeTeamId,awayTeamId,homeScorePeriod1,awayScorePeriod1
431,10,3,1,1,0,0,6.91,5,50.0,1.600000,...,12.0,9.0,5.0,2.0,9.0,8.0,33,30,1,1
18,2,4,6,0,1,0,6.53,18,0.0,0.000000,...,5.0,10.0,5.0,4.0,5.0,3.0,6,40,0,2
176,6,5,1,1,2,0,6.85,12,4.0,1.333333,...,10.0,5.0,6.0,11.0,4.0,16.0,14,33,0,1
231,8,5,3,0,0,0,6.80,18,6.0,0.800000,...,9.0,8.0,2.0,3.0,6.0,13.0,3,14,0,0
507,8,1,5,3,0,0,6.82,7,58.0,1.400000,...,4.0,8.0,5.0,2.0,1.0,6.0,40,30,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,3,9,4,2,0,2,7.00,6,15.0,1.800000,...,7.0,9.0,7.0,5.0,7.0,7.0,30,44,1,2
106,3,5,4,1,0,0,6.68,18,6.0,0.600000,...,12.0,13.0,4.0,4.0,5.0,11.0,60,39,0,0
270,2,12,6,1,2,4,6.96,4,26.0,1.800000,...,6.0,9.0,5.0,4.0,10.0,6.0,33,44,0,2
435,9,2,2,0,1,0,6.91,5,53.0,1.600000,...,8.0,7.0,6.0,7.0,5.0,13.0,33,60,1,1
102,3,7,8,1,1,0,6.86,16,10.0,0.600000,...,13.0,2.0,3.0,5.0,18.0,9.0,14,40,1,0

In [9]:
X_train = X_train.fillna(X_train.mean())
X_test = X_test.fillna(X_train.mean())

In [10]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)
X_train[0]

array([ 9.43972290e-01, -9.25971622e-01, -1.24295374e+00, -2.95674747e-01,
       -7.06527126e-01, -6.92971428e-01,  2.30949823e-01, -9.59954770e-01,
        1.62824274e+00,  3.46172214e-01,  4.14944701e-01, -7.38492072e-01,
        1.33917902e+00,  1.04039554e+00, -6.31063493e-01,  8.71607784e-01,
       -4.36265693e-01, -4.23801345e-01, -9.62036930e-01, -7.68437925e-01,
        1.47467889e+00, -2.78199665e-01,  3.90882167e-02, -5.39616501e-01,
        1.85013578e+00, -3.32801019e-01,  6.33152587e-01,  1.50540320e-01,
       -8.77058763e-01,  0.00000000e+00,  0.00000000e+00, -8.09726895e-01,
       -8.48552701e-01, -1.36398868e-01, -9.60030721e-02,  7.97534870e-01,
        9.25594431e-01, -1.01635251e+00, -8.44608915e-01, -5.71330201e-01,
        1.08378386e+00, -9.87817771e-01,  1.05280881e+00, -7.30800581e-01,
        5.72457583e-01, -5.62408919e-01,  7.37564477e-01,  1.44354130e+00,
       -1.11895700e+00,  0.00000000e+00,  0.00000000e+00, -7.79843384e-01,
        1.10384295e+00, -6.60324800e-01,  1.26428545e+00, -4.00833537e-01,
       -1.59286068e+00, -1.38623231e+00,  2.16061150e-01,  1.73528086e-01,
        1.74126999e-03, -9.23372776e-02,  1.02274439e+00,  6.06754736e-01,
       -1.26192119e-01,  3.32839918e-01, -7.70395375e-01, -4.50625195e-01,
       -9.72710937e-01,  4.91881522e-01,  2.92157037e-01, -1.10524190e+00,
        1.78774131e-01,  1.20339966e+00,  2.11422952e-01,  2.72344964e-01,
       -1.07933801e+00,  3.40033675e-01, -2.84302758e-01, -7.65204354e-02,
       -2.81456985e-01,  2.98198710e-01,  6.14829958e-01])

But you can use the wrapper funtion to do all of these above in 1 block:

In [11]:
from wrapper import process_data

# Feature selection
list_column = ['id', 'previousHomeWin', 'previousAwayWin', 'previousDraw',
       'previousManagerHomeWin', 'previousManagerAwayWin',
       'previousManagerDraw', 
       'homeExpectedGoal', 'awayExpectedGoal', 'homeExpectedAssist',
       'awayExpectedAssist', 'homeBallPosession', 'homeCorner', 'awayCorner',
       'homeOffside', 'awayOffside', 'homeFoul', 'awayFoul', 
       'homeGoalSave', 'awayGoalSave', 'homeGoalPrevented',
       'awayGoalPrevented', 
       'homePossesionLost', 'awayPossesionLost', 'homeDuelWon', 'awayDuelWon',
       'homeAerialWon', 'awayAerialWon', 'homeTackle', 'awayTackle',
       'homeInterception', 'awayInterception', 'homeClearance',
       'awayClearance', 'homeTeamId', 'awayTeamId', 'homeScorePeriod1',
       'homeScoreCurrent', 'awayScorePeriod1', 'awayScoreCurrent']


sc, X_train, X_test, y_train, y_test = process_data("match_all_statistic.csv", list_column, fill_na="mean", scaler="standard")

## 1.2. Train

### 1.2.1. Random Forest

In [12]:
from sklearn.ensemble import RandomForestClassifier
for i in range(10):
    clf1 = RandomForestClassifier()
    clf1.fit(X_train, y_train.values.ravel())
    print(clf1.score(X_test, y_test.values.ravel()))

0.7564102564102564
0.7564102564102564
0.7564102564102564
0.782051282051282
0.7435897435897436
0.782051282051282
0.7948717948717948
0.7435897435897436
0.7692307692307693
0.782051282051282

In [13]:
from sklearn.neighbors import KNeighborsClassifier

max_val = 0

for i in range(1, 90):
    # Create a kNN classifier object
    knn = KNeighborsClassifier(n_neighbors=i)

    # Fit the model to the training data
    knn.fit(X_train, y_train.values.ravel())

    # Use the model to make predictions on the test data
    predictions = knn.predict(X_test)

    # Evaluate the model
    accuracy = knn.score(X_test, y_test.values.ravel())
    max_val = max(accuracy, max_val)

print(max_val)

0.6923076923076923